@tailwind base;
@tailwind components;
@tailwind utilities;

.createTaskForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.createTaskForm input {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.createTaskForm textarea {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

.createTaskForm button {
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

.taskDetail {
    max-width: 300px;
    border: 1px solid black;
}